.main-div {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
  display: inline;
}

.li-name {
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0.8125rem;
}
.img-wrapper {
  text-align: center;
}

.character-list {
  overflow: auto;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(32, 35, 41);
}
.character-card-wrapper {
  background: rgb(60, 62, 68);
  margin: 0.75rem;
}

.name-wrapper-czxdz {
  color: rgb(245, 245, 245);
}
.section {
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex: 1 1 0%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 8px;
}
.character-card-content-wrapper {
  max-width: 276px;
  flex: 3 1 0%;
  position: relative;
  padding: 0.75rem;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.text-gray {
  color: rgb(158, 158, 158);
}
.status {
}
.text-white {
  color: rgb(245, 245, 245);
}
.line-limit-length {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn-return,
.sort-by-date-select,
.sort-by-episode-btn,
.delete-button {
  width: 300px;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  background: #6e6d70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #dfdedf;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
/* CSS */
.btn-return:focus,
.sort-by-date-select:focus,
.sort-by-episode-btn:focus,
.delete-button:focus,
.top-menu-input:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.div-top-menu-buttons {
  background: rgb(50, 62, 68);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.top-menu-input {
  width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  background: #6e6d70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #dfdedf;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
}
.search-icon {
  position: absolute;
  top: 16px;
  left: 14px;
  width: 14px;
}
.top-menu-input {
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  width: 200px;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
  color: black;
}
.search:hover,
.search:focus {
  border: 1.5px solid #009688;
  background-color: white;
}
